﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	var selection = Umbraco.Content(Guid.Parse("438cb14d-cc94-429d-a7de-0fb178056b4a"))
    .ChildrenOfType("gamocdileba")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>@item.Name</span></h3>
                                  <p>@item.Value("gamocdilebaDescrioption")</p>
                             </div>
                        </div>
	}
</ul>

