﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage


@{
	var selection = Umbraco.Content(Guid.Parse("593fa529-1a8b-4fb9-83f0-67bba06d7513"))
    .ChildrenOfType("service")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<div class="timeline-wrapper">
    <div class="timeline-yr">
        <span>1</span>
    </div>
    <div class="timeline-info">
        <h3><span>@item.Name</span><h3>
        <p>@item.Value("serviceDescription")</p>
    </div>
</div>
	}
</ul>

