﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var selection = Umbraco.Content(Guid.Parse("25c5eda8-948b-441d-aad3-2cee01ce1687"))
    .ChildrenOfType("slides")
    .Where(x => x.IsVisible());
    
    
}


	@foreach (var item in selection)
	{
	var media = item.Value<IPublishedContent>("slideImage");
		 <div class="item">
              <div class="project-info">
                <img src="@media.Url" class="img-fluid" alt="project image">
              </div>
        </div>
	}


