﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	var image = Model.Value<IPublishedContent>("image");
	
}



 <!-- Start News Details Area -->
        <section class="news-details-area pb-40">
            <div class="container">
                <ul class="breadcrumb">
                    @foreach(var page in @Model.AncestorsOrSelf().Reverse())
                     {
                     if (page.Name == Model.AncestorsOrSelf().Reverse().FirstOrDefault().Name)
                        { 
                        <li><a href="@page.Url"><i class="icofont-home"></i> @page.Name</a></li>
                        }
                     else {
                       using(var iter = Model.Ancestors().Reverse().GetEnumerator()) {
                        if(iter.MoveNext()) {
                            IPublishedContent last = iter.Current;
                            while(iter.MoveNext()) {
                                // here, "last" is a non-final value; do something with "last"
                                last = iter.Current;
                                <li><i class="icofont-rounded-right"></i></li>
                                <li><a href="@page.Url">@page.Name</a></li>
                            }
                            // here, "last" is the FINAL one; do something else with "last"
                        }
                        }
                        }
                    }
                </ul>
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2 offset-md-0">
                        <div class="news-details">
                            <div class="article-content">
                                <ul class="entry-meta">
                                    <li><i class="icofont-user"></i> @Model.CreatorName</li>
                                    <li><i class="icofont-eye-alt"></i> 1040</li>
                                    <li><i class="icofont-calendar"></i> @Model.CreateDate.ToString("D")</li>
                                </ul>

                                <h3 class="mb-0">@Model.Name</h3>
                            </div>

                            <div class="article-img">
                              
                            
                                <img src="@image.Url" alt="image">
                            </div>

                            <div class="article-content">
                                
                                @Model.Value("fullDescription")
                                
                                <ul class="category">
                                    <li><span>ტეგები:</span></li>
                                   @foreach (string item in @Model.Value<string[]>("tags"))
                                   {<li><a href="#">@item</a></li>}
                                </ul>
                            </div>
                        </div>


                        <div class="comments-area">
                            <div class="fb-comments" data-href="http://kargi.ge" data-width="730" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End News Details Area -->