﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Articles>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>@Model.Name</h2>

                    <ul>

                     @foreach(var page in @Model.AncestorsOrSelf().Reverse())
                     {
                     if (page.Name == Model.AncestorsOrSelf().Reverse().FirstOrDefault().Name)
                        { 
                        <li><a href="@page.Url"><i class="icofont-home"></i> @page.Name</a></li>
                        }
                     else {
                       using(var iter = Model.AncestorsOrSelf().Reverse().GetEnumerator()) {
                        if(iter.MoveNext()) {
                            IPublishedContent last = iter.Current;
                            while(iter.MoveNext()) {
                                // here, "last" is a non-final value; do something with "last"
                                last = iter.Current;
                                <li><i class="icofont-rounded-right"></i></li>
                                <li><a href="@page.Url">@page.Name</a></li>
                            }
                            // here, "last" is the FINAL one; do something else with "last"
                        }
                        }
                        }
                    }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start All Category News Area -->
        <section class="all-category-news ptb-40 pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title">
                            <h2>@Model.Name</h2>
                        </div>
                        
                        
                        
@{
	var selection = Umbraco.Content(Guid.Parse("c144af73-62ce-4994-8408-52366527047d"))
    .ChildrenOfType("article")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
	@foreach (var item in selection)
	{
	var image = item.Value<IPublishedContent>("image");
	var desc = item.Value<string>("fullDescription");
	<div class="single-category-news">
                            <div class="row m-0 align-items-center">
                                <div class="col-lg-5 col-md-6 p-0">
                                    <div class="category-news-image">
                                        <a href="@item.Url"><img src="@image.Url" alt="image"></a>

                                        <div class="tags">
                                            @foreach (string tag in @item.Value<string[]>("tags"))
                                   {<a href="#">@tag</a>}
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-6">
                                    <div class="category-news-content">
                                        <span><i class="icofont-clock-time"></i> @item.CreateDate.ToString("D")</span>
                                        <h3><a href="@item.Url">@item.Name</a></h3>
                                        <p>@desc.Substring(0, Math.Min(200, desc.Length))</p>
                                    </div>
                                </div>
                            </div>
                        </div>
	}

                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers"><i class="icofont-double-left"></i></a>
                            <a href="#" class="page-numbers">1</a>
                            <span class="page-numbers current" aria-current="page">2</span>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers"><i class="icofont-double-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="section-title">
                            <h2>Stay Connected</h2>
                        </div>

                        <ul class="stay-connected">
                            <li><a href="#"><i class="icofont-facebook"></i><b>10.2K</b> <span>Fans</span></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i><b>14.2K</b> <span>Followers</span></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i><b>11.2K</b> <span>Fans</span></a></li>
                            <li><a href="#"><i class="icofont-rss"></i><b>15.2K</b> <span>Subscriber</span></a></li>
                        </ul>

                        <div class="stay-connected-ads">
                            <a href="#"><img src="assets\img\3-ads.png" alt="image"></a>
                        </div>

                        <div class="featured-news">
                            <div class="section-title">
                                <h2>Featured News</h2>
                            </div>

                            <div class="single-featured-news">
                                <img src="assets\img\1.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors</a></h3>
                                </div>

                                <div class="tags">
                                    <a href="#">Sports</a>
                                </div>
                            </div>

                            <div class="single-featured-news">
                                <img src="assets\img\2.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">You’ve got mail! All about the tagDiv Newsletter plugin</a></h3>
                                </div>

                                <div class="tags bg-2">
                                    <a href="#">Sports</a>
                                </div>
                            </div>

                            <div class="single-featured-news">
                                <img src="assets\img\3.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">Newspaper Theme: Enhance Your Pages with the Row Divider</a></h3>
                                </div>

                                <div class="tags bg-3">
                                    <a href="#">Sports</a>
                                </div>
                            </div>
                        </div>

                        <div class="newsletter-box">
                            <div class="section-title">
                                <h2>Newsletter</h2>
                            </div>

                            <div class="newsletter-box-inner">
                                <h3>Subscribe To Our Mailing List To Get The New Updates!</h3>
                                <i class="icofont-email"></i>

                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="newsletter-input" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                                    <button type="submit"><i class="icofont-paper-plane"></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>

                        <div class="hot-news-ads">
                            <a href="#"><img src="assets\img\4-ads.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End All Category News Area -->