﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Start Contact Us Area -->
        <section class="contact-area pb-40">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icofont-home"></i> Home</a></li>
                    <li><i class="icofont-rounded-right"></i></li>
                    <li>Contact Us</li>
                </ul>

                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="contact-form">
                            <h3>Contact Us</h3>

                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Name*" required="" data-error="Please enter your name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email*" required="" data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="msg_subject" id="msg_subject" required="" data-error="Please enter your subject" placeholder="Subject*">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea placeholder="Message*" name="message" id="message" class="form-control" cols="30" rows="10" required="" data-error="Write your message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="contact-info">
                            <h3>Contact Info</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget erat magna. Pellentesque justo ante.</p>
                            <ul>
                                <li><i class="icofont-google-map"></i> @Model.Value("contactAddress")</li>
                                <li><i class="icofont-phone"></i> <a href="#">@Model.Value("contactTelephone")</a></li>
                                <li><i class="icofont-envelope"></i> <a href="#">@Model.Value("contactMail")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Us Area -->