﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	
	//Get Articles
	var Articles = Umbraco.Content(Guid.Parse("c144af73-62ce-4994-8408-52366527047d"))
    .ChildrenOfType("article")
    .Where(x => x.IsVisible()).Take(10)
    .OrderByDescending(x => x.CreateDate);
}

        <!-- Start Blog Home Area -->
        <section class="blog-home">
            <div class="blog-home-slides owl-carousel owl-theme">
	@foreach (var item in Articles)
	{
		var image = item.Value<IPublishedContent>("image");
                <div class="col-lg-12">
                    <div class="single-blog-box">
                        <div class="blog-image">
                            <a href="@item.Url"><img src="@image.Url" alt="img"></a>
                        </div>

                        <div class="blog-post-content">
                            <div class="tags">@foreach (string tag in @item.Value<string[]>("tags") )
                                   {<a href="#">@tag</a>}</div>
                            <h3><a href="@item.Url">@item.Name</a></h3>

                            <ul>
                                <li><i class="icofont-ui-calendar"></i>  @item.CreateDate.ToString("D")</li>
                                <li><i class="icofont-ui-user"></i> By <a href="#">@item.CreatorName</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
	}
            </div>
        </section>
        <!-- End Blog Home Area -->

        <!-- Start Default News Area -->
        <section class="default-news-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="single-default-news">
                            <img src="images\1.jpg" alt="image">

                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                    <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                </ul>
                                <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors for other women.</a></h3>
                            </div>

                            <div class="tags">
                                <a href="#">სპორტი</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single-default-inner-news">
                                    <div class="news-image">
                                        <img src="images\2.jpg" alt="image">
                                    </div>

                                    <div class="news-content">
                                        <h3>Cloud Infrastructure: is Hosting Review</h3>

                                        <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                    </div>

                                    <a href="#" class="link-overlay"></a>

                                    <div class="tags bg-2">
                                        <a href="#">სპორტი</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="single-default-inner-news">
                                    <div class="news-image">
                                        <img src="images\3.jpg" alt="image">
                                    </div>

                                    <div class="news-content">
                                        <h3>How to Customize your PHP Footer</h3>

                                        <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                    </div>
                                    
                                    <a href="#" class="link-overlay"></a>

                                    <div class="tags bg-3">
                                        <a href="#">ტექნოლოგია</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <div class="small-image-ads">
                            <a href="#"><img src="images\1-ads.png" alt="image"></a>
                        </div>

                        <div class="single-default-inner-news">
                            <div class="news-image">
                                <img src="images\4.jpg" alt="image">
                            </div>

                            <div class="news-content">
                                <h3>Banning Winter Holiy As Islands Offers</h3>

                                <span><i class="icofont-calendar"></i> March 22, 2019</span>
                            </div>
                            
                            <a href="#" class="link-overlay"></a>

                            <div class="tags bg-4">
                                <a href="#">მოგზაურობა</a>
                            </div>
                        </div>

                        <div class="single-default-inner-news">
                            <div class="news-image">
                                <img src="images\5.jpg" alt="image">
                            </div>

                            <div class="news-content">
                                <h3>Gloost Better They Are With A Featured</h3>

                                <span><i class="icofont-calendar"></i> March 22, 2019</span>
                            </div>

                            <a href="#" class="link-overlay"></a>

                            <div class="tags bg-5">
                                <a href="#">სილამაზე</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <div class="default-video-news">
                            <h3 class="title">Video</h3>

                            <div class="single-video-news">
                                <div class="image">
                                    <img src="images\video-1.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i class="icofont-video-cam"></i></a>
                                </div>

                                <div class="content">
                                    <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                </div>
                            </div>

                            <div class="single-video-news">
                                <div class="image">
                                    <img src="images\video-2.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i class="icofont-video-cam"></i></a>
                                </div>

                                <div class="content">
                                    <h3><a href="#">Differences between User Experience Interface</a></h3>
                                </div>
                            </div>

                            <div class="single-video-news">
                                <div class="image">
                                    <img src="images\video-3.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="popup-youtube"><i class="icofont-video-cam"></i></a>
                                </div>

                                <div class="content">
                                    <h3><a href="#">A Guide to Avoiding Web Design Mistakes</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Default News Area -->

        <!-- Start Most Popular News Area -->
        <section class="popular-news-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="popular-section-ads">
                            <a href="#"><img src="images\2-ads.png" alt="image"></a>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12">
                        <div class="section-title">
                            <h2>პოპულალური</h2>
                        </div>

                        <div class="row">
                            <div class="popular-news-slides owl-carousel owl-theme">
                                <div class="col-lg-12 col-md-12">
                                    <div class="single-popular-news">
                                        <div class="news-image">
                                            <img src="images\6.jpg" alt="image">
                                        </div>

                                        <div class="news-content">
                                            <h3>Create the Perfect Logo for your Website</h3>

                                            <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                        </div>

                                        <a href="#" class="link-overlay"></a>

                                        <div class="tags bg-2">
                                            <a href="#">მოგზაურობა</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="single-popular-news">
                                        <div class="news-image">
                                            <img src="images\7.jpg" alt="image">
                                        </div>

                                        <div class="news-content">
                                            <h3>Take the Tour to Explore the New Header Manager</h3>

                                            <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                        </div>

                                        <a href="#" class="link-overlay"></a>

                                        <div class="tags bg-5">
                                            <a href="#">სილამაზე</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="single-popular-news">
                                        <div class="news-image">
                                            <img src="images\8.jpg" alt="image">
                                        </div>

                                        <div class="news-content">
                                            <h3>Sinmun theme is part of the big WPML family</h3>

                                            <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                        </div>

                                        <a href="#" class="link-overlay"></a>

                                        <div class="tags bg-3">
                                            <a href="#">ტექნოლოგია</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="single-popular-news">
                                        <div class="news-image">
                                            <img src="images\1.jpg" alt="image">
                                        </div>

                                        <div class="news-content">
                                            <h3>Copy – Paste the Style of your elements in Newspaper</h3>

                                            <span><i class="icofont-calendar"></i> March 22, 2019</span>
                                        </div>

                                        <a href="#" class="link-overlay"></a>

                                        <div class="tags bg-4">
                                            <a href="#">სპორტი</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Most Popular News Area -->

        <!-- Start International News Area -->
        <section class="international-news-area pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title">
                            <h2>სათაური</h2>
                        </div>

                        <div class="international-news-inner">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="single-international-news">
                                        <div class="news-image">
                                            <img src="images\6.jpg" alt="image">
                                        </div>

                                        <div class="news-content">
                                            <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                            <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="international-news-list">
                                        <div class="media news-media align-items-center">
                                            <a href="#">
                                                <img src="images\small-1.jpg" alt="image">
                                            </a>

                                            <div class="content">
                                                <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                <h3><a href="#">Introducing the New 404 Page Templates</a></h3>
                                            </div>
                                        </div>

                                        <div class="media news-media align-items-center">
                                            <a href="#">
                                                <img src="images\small-2.jpg" alt="image">
                                            </a>

                                            <div class="content">
                                                <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                <h3><a href="#">Newspaper Theme: What’s new in v.9</a></h3>
                                            </div>
                                        </div>

                                        <div class="media news-media align-items-center">
                                            <a href="#">
                                                <img src="images\small-3.jpg" alt="image">
                                            </a>

                                            <div class="content">
                                                <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                <h3><a href="#">Tricks to Boost your WordPress Site’s Traffic</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="section-title">
                            <h2>შემოგვიერთდი სოციალურ ქსელებში</h2>
                        </div>

                        <ul class="stay-connected">
                            <li><a href="#"><i class="icofont-facebook"></i><b>10.2K</b> <span>Fans</span></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i><b>14.2K</b> <span>Followers</span></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i><b>11.2K</b> <span>Fans</span></a></li>
                            <li><a href="#"><i class="icofont-rss"></i><b>15.2K</b> <span>Subscriber</span></a></li>
                        </ul>

                        <div class="stay-connected-ads">
                            <a href="#"><img src="images\3-ads.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End International News Area -->

        <!-- Start Hot News Area -->
        <section class="hot-news-area pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="health-lifestyle-news">
                                    <div class="section-title">
                                        <h2>სილამაზე და ჯანმრთელობა</h2>
                                    </div>

                                    <div class="health-lifestyle-news-slides owl-carousel owl-theme">
                                        <div class="single-health-lifestyle-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\8.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>

                                        <div class="single-health-lifestyle-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\7.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>

                                        <div class="single-health-lifestyle-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\6.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="politics-news">
                                    <div class="section-title">
                                        <h2>ტექნოლოგიები</h2>
                                    </div>

                                    <div class="politics-news-slides owl-carousel owl-theme">
                                        <div class="single-politics-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\6.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">The New-Style GCSEs Show Why Politicians.</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>

                                        <div class="single-politics-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\7.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>

                                        <div class="single-politics-news">
                                            <div class="news-image">
                                                <a href="#"><img src="images\8.jpg" alt="image"></a>
                                            </div>

                                            <div class="news-content">
                                                <ul>
                                                    <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                    <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                </ul>
                                                <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="around-the-world-news pt-40">
                                    <div class="section-title">
                                        <h2>მოგზაურობა</h2>

                                        <a href="#" class="view-more">View More <i class="icofont-rounded-double-right"></i></a>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-around-the-world-news">
                                                <div class="news-image">
                                                    <a href="#"><img src="images\1.jpg" alt="image"></a>
                                                </div>

                                                <div class="news-content">
                                                    <ul>
                                                        <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                        <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                    </ul>
                                                    <h3><a href="#">The New-Style GCSEs Show Why Politicians.</a></h3>
                                                    <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-around-the-world-news">
                                                <div class="news-image">
                                                    <a href="#"><img src="images\2.jpg" alt="image"></a>
                                                </div>

                                                <div class="news-content">
                                                    <ul>
                                                        <li><i class="icofont-calendar"></i> March 25, 2019</li>
                                                        <li><i class="icofont-speech-comments"></i> <a href="#">50</a></li>
                                                    </ul>
                                                    <h3><a href="#">Disabled People Must Be Front And Centre On TV</a></h3>
                                                    <p>Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus sem the purus eu sapien curabitur.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="media around-the-world-news-media align-items-center">
                                                <a href="#">
                                                    <img src="images\small-1.jpg" alt="image">
                                                </a>

                                                <div class="content">
                                                    <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                    <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="media around-the-world-news-media align-items-center">
                                                <a href="#">
                                                    <img src="images\small-2.jpg" alt="image">
                                                </a>

                                                <div class="content">
                                                    <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                    <h3><a href="#">Happy Newspaper Day: 50,000+ Delighted Customers!</a></h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="media around-the-world-news-media align-items-center">
                                                <a href="#">
                                                    <img src="images\small-3.jpg" alt="image">
                                                </a>

                                                <div class="content">
                                                    <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                    <h3><a href="#">Newspaper 8.5. – Discover Landing Page Elements</a></h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="media around-the-world-news-media align-items-center">
                                                <a href="#">
                                                    <img src="images\small-4.jpg" alt="image">
                                                </a>

                                                <div class="content">
                                                    <span><i class="icofont-calendar"></i> March 22, 2019</span>

                                                    <h3><a href="#">New in Newspaper: Social Network Buttons</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="featured-news">
                            <div class="section-title">
                                <h2>შეთავაზებები</h2>
                            </div>

                            <div class="single-featured-news">
                                <img src="images\1.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors</a></h3>
                                </div>

                                <div class="tags">
                                    <a href="#">Sports</a>
                                </div>
                            </div>

                            <div class="single-featured-news">
                                <img src="images\2.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">You’ve got mail! All about the tagDiv Newsletter plugin</a></h3>
                                </div>

                                <div class="tags bg-2">
                                    <a href="#">Sports</a>
                                </div>
                            </div>

                            <div class="single-featured-news">
                                <img src="images\3.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">Newspaper Theme: Enhance Your Pages with the Row Divider</a></h3>
                                </div>

                                <div class="tags bg-3">
                                    <a href="#">Sports</a>
                                </div>
                            </div>
                        </div>

                        <div class="newsletter-box">
                            <div class="section-title">
                                <h2>Newsletter</h2>
                            </div>

                            <div class="newsletter-box-inner">
                                <h3>Subscribe To Our Mailing List To Get The New Updates!</h3>
                                <i class="icofont-email"></i>

                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="newsletter-input" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                                    <button type="submit"><i class="icofont-paper-plane"></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>

                        <div class="hot-news-ads">
                            <a href="#"><img src="images\4-ads.png" alt="image"></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="hot-news-ads2">
                            <a href="#"><img src="images\5-ads.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hot News Area -->

        <!-- Start Gallery News Area -->
        <section class="gallery-news-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="gallery-news">
                            <div class="section-title">
                                <h2>Gallery News</h2>
                            </div>

                            <div class="gallery-news-inner-slides owl-carousel owl-theme">
                                <div class="row align-items-center m-0">
                                    <div class="col-lg-6 col-md-6 p-0">
                                        <div class="gallery-news-content">
                                            <h3><a href="#"><i class="icofont-camera-alt"></i> A glance (18 June 2019)</a></h3>
                                            <p>Gloost Better They Are With A Featured. New York, USA, 17 June. Photo: John Smith</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 p-0">
                                        <div class="gallery-news-image">
                                            <img src="images\gallery-news1.jpg" alt="image">
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center m-0">
                                    <div class="col-lg-6 col-md-6 p-0">
                                        <div class="gallery-news-content">
                                            <h3><a href="#"><i class="icofont-camera-alt"></i> A glance (18 June 2019)</a></h3>
                                            <p>Gloost Better They Are With A Featured. New York, USA, 17 June. Photo: John Smith</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 p-0">
                                        <div class="gallery-news-image">
                                            <img src="images\gallery-news1.jpg" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="gallery-news-list">
                            <div class="media gallery-news-media align-items-center">
                                <div class="image">
                                    <img src="images\small-4.jpg" alt="image">

                                    <a href="#"><i class="icofont-ui-camera"></i></a>
                                </div>

                                <div class="content">
                                    <h3><a href="#"><i class="icofont-camera-alt"></i> A glance (17 June 2019)</a></h3>
                                </div>
                            </div>

                            <div class="media gallery-news-media align-items-center">
                                <div class="image">
                                    <img src="images\small-2.jpg" alt="image">

                                    <a href="#"><i class="icofont-ui-camera"></i></a>
                                </div>

                                <div class="content">
                                    <h3><a href="#"><i class="icofont-camera-alt"></i> A glance (16 June 2019)</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Gallery News Area -->

        <!-- Start All News Area -->
        <section class="all-news-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="fashion-news">
                            <div class="section-title">
                                <h2>Fashion</h2>
                            </div>

                            <div class="single-fashion-news">
                                <img src="images\1.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="fashion-inner-news">
                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="food-news">
                            <div class="section-title">
                                <h2>Food & Hobbbies</h2>
                            </div>

                            <div class="single-food-news">
                                <img src="images\2.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="food-inner-news">
                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="north-america-news">
                            <div class="section-title">
                                <h2>North America</h2>
                            </div>

                            <div class="single-north-america-news">
                                <img src="images\3.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="north-america-inner-news">
                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="economics-news">
                            <div class="section-title">
                                <h2>Economics</h2>
                            </div>

                            <div class="single-fashion-news">
                                <img src="images\4.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="fashion-inner-news">
                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-fashion-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="science-technology-news">
                            <div class="section-title">
                                <h2>Science and Technology</h2>
                            </div>

                            <div class="single-food-news">
                                <img src="images\5.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="food-inner-news">
                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-food-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="living-life-news">
                            <div class="section-title">
                                <h2>Living Life</h2>
                            </div>

                            <div class="single-north-america-news">
                                <img src="images\6.jpg" alt="image">

                                <div class="news-content">
                                    <ul>
                                        <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                        <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                    </ul>
                                    <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                                </div>
                            </div>
                            
                            <div class="north-america-inner-news">
                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>

                                <div class="single-north-america-inner-news">
                                    <span><i class="icofont-calendar"></i> March 10, 2019</span>
                                    <h3><a href="#">Not Who Has Much Is Rich, But Who Gives Much</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="all-news-ads">
                            <a href="#"><img src="images\5-ads.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start All News Area -->