﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
	var random = new Random();
}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="\css\css\bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="\css\css\animate.min.css">
        <!-- IcoFont Min CSS -->
        <link rel="stylesheet" href="\css\css\icofont.min.css">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="\css\css\meanmenu.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="\css\css\owl.carousel.min.css">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="\css\css\magnific-popup.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="\css\css\style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="\css\css\responsive.css">
        <!--fonts-->
        <link href="\css\css\font-stylesheet.css" rel="stylesheet">

        <title>@Model.Name</title>

        <link rel="icon" type="image/png" href="\css\img\favicon.png">
    </head>

    <body>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
        
        <!-- Start Header Area -->
        <header class="header-area">
            <!-- Start Top Header -->
            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="city-temperature">
                                <i class="icofont-ui-weather"></i>
                                <span>28.5<sup>c</sup></span>
                                <b>თბილისი</b>
                            </div>

                            <ul class="top-nav">
                                <li><a href="#">ბლოგი</a></li>
                                <li><a href="#">კონტაქტი</a></li>
                                <li><a href="#">რეკლამა</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-4 text-right">
                            <ul class="top-social">
                                <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icofont-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icofont-vimeo"></i></a></li>
                            </ul>

                            <div class="header-date">
                                <i class="icofont-clock-time"></i>
                                პარასკევი, აპრილი  15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Header -->

            <!-- Start Navbar Area -->
            <div class="navbar-area">
                <div class="sinmun-mobile-nav">
                    <div class="logo">
                        <a href="/">@Model.Name</a>
                    </div>
                </div>

                <div class="sinmun-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="/">@Model.Name</a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a href="/" class="nav-link">მთავარი</a></li>
                                    
                                    <li class="nav-item"><a href="/articles" class="nav-link">სიახლეები</a></li>

                                    <li class="nav-item"><a href="#" class="nav-link">ტექნოლოგია</a></li>

                                    <li class="nav-item"><a href="#" class="nav-link">ვიდეო</a></li>

                                    <li class="nav-item"><a href="#" class="nav-link">მოგზაურობა</a></li>

                                    <li class="nav-item"><a href="#" class="nav-link">სხვა</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორიები</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 1</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 2</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 3</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 4</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 5</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 6</a></li>
                                                </ul>
                                            </li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია 1</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 1</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 2</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 3</a></li>

                                                    <li class="nav-item"><a href="#" class="nav-link">კატეგორია 4</a></li>
                                                </ul>
                                            </li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>

                                            <li class="nav-item"><a href="#" class="nav-link">კატეგორია</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="others-options">
                                    <ul>
                                        <li><a href="login.html"><i class="icofont-user-alt-5"></i></a></li>
                                        <li class="header-search">
                                            <div class="nav-search">
                                                <div class="nav-search-button">
                                                    <i class="icofont-ui-search"></i>
                                                </div>
                                                
                                                <form>
                                                    <span class="nav-search-close-button" tabindex="0">✕</span>
                                                    <div class="nav-search-inner">
                                                        <input type="text" name="search" placeholder="ძიება....">
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->
            
            <!-- Start Breaking News -->
            <div class="breaking-news">
                <div class="container">
                    <div class="breaking-news-content clearfix">
                        <h6 class="breaking-title"><i class="icofont-flash"></i> ბოლო ამბები:</h6>

                        <div class="breaking-news-slides owl-carousel owl-theme">
                            <div class="single-breaking-news">
                                <p><a href="#">As well as stopping goals, Cristiane Endler is opening doors for other women.</a></p>
                            </div>

                            <div class="single-breaking-news">
                                <p><a href="#">Netcix cuts out the chill with an integrated personal trainer on running.</a></p>
                            </div>
                            
                            <div class="single-breaking-news">
                                <p><a href="#">As well as stopping goals, Cristiane Endler is opening doors for other women.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breaking News -->
        </header>
        <!-- End Header Area -->

@RenderBody()

<!-- Start More News Area -->
        <section class="more-news-area">
            <div class="container">
                <div class="more-news-inner">
                    <div class="section-title">
                        <h2>სხვა სტატიები</h2>
                    </div>

                    <div class="row">
                        <div class="more-news-slides owl-carousel owl-theme">

	@foreach (var item in Umbraco.Content(1082).Children().OrderBy(order=>random.Next()).Take(4).ToList())
	{
	var image = item.Value<IPublishedContent>("image");
		 <div class="col-lg-12 col-md-12">
                                <div class="single-more-news">
                                    <img src="@image.Url" alt="image">

                                    <div class="news-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i> by <a href="#">@Model.CreatorName</a></li>
                                            <li><i class="icofont-calendar"></i> @item.CreateDate.ToString("D")</li>
                                        </ul>
                                        <h3><a href="@item.Url">@item.Name</a></h3>
                                    </div>

                                    <div class="tags bg-2">
                                    @foreach (string tag in @item.Value<string[]>("tags") )
                                   {<a href="#">@tag</a>}
                                    </div>
                                </div>
                            </div>
	}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End More News Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h3>ჩვენს შესახებ</h3>
                             @{
                                    var contact = Umbraco.Content(1077);
                                    }

                            <div class="contact-info">
                                <p>@contact.Value("contactShortDescription")</p>

                                <ul>
                                    <li><i class="icofont-google-map"></i> @contact.Value("contactAddress")</li>
                                    <li><i class="icofont-phone"></i> <a href="#">@contact.Value("contactTelephone")</a></li>
                                    <li><i class="icofont-envelope"></i> <a href="#">@contact.Value("contactMail")</a></li>
                                </ul>
                            </div>

                            <div class="connect-social">
                                <p>We're social, connect with us:</p>

                                <ul>
                                    <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="icofont-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Latest News</h3>

                            <div class="footer-latest-news-list">
                                <div class="media latest-news-media align-items-center">
                                    <a href="#">
                                        <img src="images\small-2.jpg" alt="image">
                                    </a>

                                    <div class="content">
                                        <ul>
                                            <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                            <li><a href="#"><i class="icofont-comment"></i> 12</a></li>
                                        </ul>

                                        <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                    </div>
                                </div>

                                <div class="media latest-news-media align-items-center">
                                    <a href="#">
                                        <img src="images\small-4.jpg" alt="image">
                                    </a>

                                    <div class="content">
                                        <ul>
                                            <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                            <li><a href="#"><i class="icofont-comment"></i> 12</a></li>
                                        </ul>

                                        <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                    </div>
                                </div>

                                <div class="media latest-news-media align-items-center">
                                    <a href="#">
                                        <img src="images\small-3.jpg" alt="image">
                                    </a>

                                    <div class="content">
                                        <ul>
                                            <li><i class="icofont-calendar"></i> March 22, 2019</li>
                                            <li><a href="#"><i class="icofont-comment"></i> 12</a></li>
                                        </ul>

                                        <h3><a href="#">Gloost Better They Are With A Featured</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-footer-widget">
                            <h3>Twitter Feed</h3>

                            <div class="twitter-tweet-list">
                                <div class="single-tweet">
                                    <i class="icofont-twitter"></i>
                                    <span>About 2 days ago</span>
                                    <p>Conference Event WordPress Theme -> 2 New Home Added <a href="#">https://tt.co/Rn00zM5q7gY70</a></p>
                                </div>

                                <div class="single-tweet">
                                    <i class="icofont-twitter"></i>
                                    <span>About 2 days ago</span>
                                    <p>Conference Event WordPress Theme -> 2 New Home Added <a href="#">https://tt.co/Rn00zM5q7gY70</a></p>
                                </div>

                                <div class="single-tweet">
                                    <i class="icofont-twitter"></i>
                                    <span>About 2 days ago</span>
                                    <p>Conference Event WordPress Theme -> 2 New Home Added #wordpress #event #conference #wordpresstheme <a href="#">https://tt.co/Rn00zM5q7gY70</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <p>Copyright © 2019 <a href="/">copy</a>. All Rights Reserved.</p>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <ul class="footer-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Forums</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Advertisement</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class="icofont-swoosh-up"></i></div>
        
        <!-- Jquery Min JS -->
        <script src="\scripts\jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="\scripts\popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="\scripst\bootstrap.min.js"></script>
        <!-- MeanMenu JS -->
        <script src="\scripts\jquery.meanmenu.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="\scripts\owl.carousel.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="\scripts\jquery.magnific-popup.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="\scripts\form-validator.min.js"></script>
        <!-- Contact Form Script JS -->
        <script src="\scripts\contact-form-script.js"></script>
        <!-- ajaxChimp Min JS -->
        <script src="\scripts\jquery.ajaxchimp.min.js"></script>
        <!-- Main JS -->
        <script src="\scripts\main.js"></script>
    </body>
</html>