/*NotoSans*/ 
@font-face {
    font-family: NotoSans;
    font-weight: 300;
    src: url(../fonts/NotoSans/NotoSans-Light.ttf);
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans;
    font-weight: 500;
    src: url(../fonts/NotoSans/NotoSans-Medium.ttf);
}

@font-face {
    font-family: NotoSans;
    font-weight: 700;
    src: url(../fonts/NotoSans/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family: NotoSans;
    font-weight: bold;
    src: url(../fonts/NotoSans/NotoSans-Bold.ttf);
}


/*NotoSans Geo*/ 
@font-face {
    font-family: NotoSans;
    font-weight: 300;
    src: url(../fonts/NotoGeoSans/NotoSansGeorgian-Light.ttf);
    unicode-range: U+10d0- u10f0;
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoGeoSans/NotoSansGeorgian-Regular.ttf);
    unicode-range: U+10d0- u10f0;
}

@font-face {
    font-family: NotoSans;
    font-weight: 500;
    src: url(../fonts/NotoGeoSans/NotoSansGeorgian-Medium.ttf);
    unicode-range: U+10d0- u10f0;
}

@font-face {
    font-family: NotoSans;
    font-weight: 700;
    src: url(../fonts/NotoGeoSans/NotoSansGeorgian-Medium.ttf);
    unicode-range: U+10d0- u10f0;
}

@font-face {
    font-family: NotoSans;
    font-weight: bold;
    src: url(../fonts/NotoGeoSans/NotoSansGeorgian-Bold.ttf);
    unicode-range: U+10d0- u10f0;
}